.track {
    background-color: rgba(255, 255, 255,  0.8);
    border: 1px solid grey;
    padding: 4px;
    margin: 4px;
    /*user-select: none;*/
    text-align: left;
}

.inplaylist {
    background-color: rgba(161, 230, 187, 0.8);
}


.trackDetail {
    font-size: 0.8rem;
}

.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 5px;
    margin-left:10px;
}

.button:hover {
    box-shadow: 5px 5px 10px grey;
    transition: all 0.3s;
    background-color: white; /* Green */
    color: #04AA6D;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: end;
}

