@font-face {
  font-family: 'Rock Salt';
  src: url('../../fonts/RockSalt-Regular.ttf');
}

.App {
  max-width: 1024px;
  margin:20px auto;
  text-align: left;
 }

 h1 {
  color:black;
  font-family: 'Rock Salt';
  font-size: 48px;
  margin: 0;
  padding: 0;
  font-weight:lighter;
  background: linear-gradient(to bottom, #FFFFFF 50%, rgb(50, 194, 226) 64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.705);
  height: fit-content
 }

.layout {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.layout > div {
  flex: 1;
  padding: 10px;
}

@media (max-width: 700px) {
  .layout {
    display: block;
  }

  .searchResult, .playlist {
    margin: 0 15px;
  }

  .searchBar {
    width: 90%;
  }

}