.playlist {
    text-align: center;
    background-color: rgba(50, 100, 200, 0.8);
    border: 1px solid black;;
}

.playlistHeader input, .playlistHeader button {
    font-size: 1.2rem;
    margin: 7px;
    box-shadow: 2px 2px 4px black;
    border-radius: 8px;
    border: none;
    padding: 8px;
}
