body {
  margin: 0 auto;
  font-family: sans-serif;
  padding: 0;
  text-align: center;
  background-image:  url("./images/green.png");
  background-position: fixed;
  background-size:cover;
  background-color: darkgreen;
  background-repeat: no-repeat;
}




